body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('img/desert.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

#canvasAndOverlayContainer {
  /* position: relative;
  width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  background-color: black;
  box-shadow: 24px 16px 16px #603814c2;
  border-radius: 40px;
}

h1,
h2 {
  text-align: center;
  font-size: 67px;
  letter-spacing: 8px;
  color: #603814;
  text-shadow: 4px 2px 2px #e7e2de;
  font-weight: 400;
}

@font-face {
  font-family: 'zabars';
  src: url('fonts/zabars.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.overlay {
  width: 720px;
  height: 480px;
  box-shadow: 24px 16px 16px #603814c2;
  border-radius: 40px;
  background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
  background-size: 100% 100%;
  /* object-fit: cover; */
  background-position: center;
  padding: 12px;
}

.overlay button:hover {
  color: #efe258;
}

.d-none {
  display: none;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 2s infinite;
}

.overlay button {
  font-size: 40px;
  white-space: nowrap;
  letter-spacing: 6px;
  color: #dcc831;
  text-shadow: 4px 2px 2px #ae5b17;
  font-weight: 100;
  font-family: 'zabars', Arial, Helvetica, sans-serif;
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  margin: 8px;
}

#infoWindow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 33;
  background-color: #c7c9c824;
}

.popup-infoWindow-container {
  width: 500px;
  padding: 30px;
  padding-right: 8px;
  gap: 24px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
  opacity: 0;

}

.animate-popup-infoWindow-container {
  transform: translateX(0);
  opacity: 1;
  background-repeat: no-repeat;
  background-color: #75dbed;
  background-image: url('img/6_salsa_bottle/1_salsa_bottle_on_ground.png'),
    url('img/2_character_pepe/3_jump/J-35.png'),
    url('img/8_coin/coin_1.png'),
    url('img/8_coin/coin_1.png'),
    url('img/5_background/layers/4_clouds/1.png');
  background-position: bottom right, top right, top left, 80px 32px, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain, contain, contain;
  background-size: 40% 30%, 40% 80%, 30% 30%, 30% 30%, 100% 100%;
}

h2 {
  font-size: 40px !important;
  text-align: center;
  font-weight: 700;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  color: #603814;
}

.sub-controlsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px;
}

.letterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #dcc831;
  border: 2px solid #000;
  border-radius: 6px;
  margin-right: 120px;
  box-shadow: 4px 4px 4px #3b3a3a;
  font-size: 20px;
}

.spacebar {
  width: 130px !important;
  margin-right: 4dvh !important;
}

.letterContainer span {
  font-weight: 700;
}

.fullscreenAndInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  top: 55px;
}

.infoContainer {
  margin-right: 8px;
  width: 25px;
  height: 25px;
  background-color: #dcc831;
  padding: 4px;
  border-radius: 100%;
  cursor: pointer;
  border: 3px solid rgb(43, 41, 41)
}

.infoContainer:hover {
  background-color: #ede375;
}

.infoContainer img {
  width: 23px;
  height: 23px;
  opacity: 0.7;

}

.fullscreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  cursor: pointer;
  padding: 4px;
  border-radius: 100%;
  border: 3px solid;
  background-color: #dcc831;
}

.fullscreenContainer:hover {
  background-color: #ede375;
}

.fullscreenContainer img {
  width: 22px;
  height: 22px;
  opacity: 0.7;
}

.rotation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 0px 0px 20px;
  background: rgba(0, 0, 0, 0.923);
  color: white;
  font-size: 32px;
  z-index: 1000;
  letter-spacing: 3px;
}

.controlsContainer-mobile {
  z-index: 1;
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.infoContainer-mobile {
  margin-right: 0px;
  width: 15px;
  height: 15px;
}

.infoContainer-mobile img {
  width: 15px;
  height: 15px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-right {
  margin-right: 24px;
}

.letterContainer-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #dcc831;
  border: 1px solid #000;
  border-radius: 6px;
  /* margin-right: 120px; */
  box-shadow: 4px 4px 4px #3b3a3a;
  font-size: 20px;
}

/* .spacebar-mobile{
  width: 80px !important;
  margin-right: 4dvh !important;
} */

.letterContainer-mobile img {
  width: 15px;
  height: 15px;
}

.imprint {
  font-size: 16px;
  color: #dcc831;
  position: fixed;
  margin-top: 638px;
  margin-left: 626px;
  letter-spacing: 1px;
  font-family: ui-monospace;
  cursor: pointer;
  text-decoration: underline;
}

.imprint:hover{
  color: #f3e874;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  color: #603814;
  margin-block-start: 0.5em;
  margin-block-end: 0.1em;
  font-weight: bold !important;
}

.popup-imprint span{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 16px;
}
.popup-imprint span h2{
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.mobile-imprint{
  display: none;
  position: fixed;
  right:16px;
    font-size: 16px;
    color: #dcc831;
    letter-spacing: 1px;
    font-family: ui-monospace;
    cursor: pointer;
    text-decoration: underline;
}

.mobile-imprint:hover{
  color: #dfda9d;
}

.cPointer{
  cursor: pointer;
}
@media (max-height: 434px) {

  .imprint{
    display: none;
  }
  .controlsContainer-mobile {
    display: flex;
  }
  .mobile-imprint{
    display: flex;
  }

  .overlay {
    border-radius: 0px;
  }

  #gameName {
    display: none;
    font-size: 0px;
  }

  body::before {
    content: none;
    display: none;
  }

  canvas {
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .fullscreenAndInfoContainer {
    position: fixed;
    top: 342px;
    z-index: 1;
  }

  .fullscreenContainer {
    display: none;
    width: 0px;
    height: 0px;
  }

  .infoContainer {
    display: none;
  }

  .infoContainer-mobile {
    margin-right: 0px;
    width: 15px;
    height: 15px;
  }

  .infoContainer-mobile img {
    width: 15px;
    height: 15px;
  }

  h2 {
    font-size: 24px !important;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }

  .controlsContainer {
    font-size: 16px;
  }

  .sub-controlsContainer {
    margin: 4px
  }

  .spacebar {
    margin-right: 34px !important;
  }

  .popup-infoWindow-container {
    height: 253px;
    padding: 15px;
  }
}

@media (max-width: 1200px) {
  .imprint{
    display: none;
  }
  .controlsContainer-mobile {
    display: flex;
    position: fixed;
    bottom: 5px;
  }
  .mobile-imprint{
    display: flex;
  }

  .infoContainer {
    display: none;
  }

  .infoContainer-mobile {
    margin-right: 0px;
    width: 15px;
    height: 15px;
  }

  .infoContainer-mobile img {
    width: 15px;
    height: 15px;
  }
  .fullscreenAndInfoContainer {
    position: fixed;
    top: 342px;
    z-index: 1;
  }

  .fullscreenContainer {
    display: none;
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 933px) {
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 24px !important;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }

  .popup-infoWindow-container {
    height: 253px;
    padding: 15px;
  }

  #maincontainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .controlsContainer {
    font-size: 16px;
  }

  .sub-controlsContainer {
    margin: 4px
  }

  .spacebar {
    margin-right: 34px !important;
  }

  body::before {
    content: none;
    display: none;
    /* Optional, falls weitere Stile entfernt werden sollen */
  }

  #canvasAndOverlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border-radius: 0px;
  }
}

@media only screen and(max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and(max-height: 480px) {
  canvas {
    height: 100vh;
  }
}